<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haykabelyan.phrasebook">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.haykabelyan.phrasebook.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/myStyle">
        <activity
            android:name="com.haykabelyan.phrasebook.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.haykabelyan.phrasebook.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.haykabelyan.phrasebook.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.haykabelyan.phrasebook.UserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.haykabelyan.phrasebook.AccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.haykabelyan.phrasebook.RecoveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haykabelyan.phrasebook.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haykabelyan.phrasebook.SearchNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haykabelyan.phrasebook.NewsArchiveActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.haykabelyan.phrasebook.NewsService"
            android:enabled="true"
            android:exported="true"
            android:process=":newsservice" />

        <activity
            android:name="com.haykabelyan.phrasebook.HoroscopeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haykabelyan.phrasebook.PhrasesActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>